.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  min-height: 80px;
  margin-top: 60px;
  padding-top: 26px;

  .footer-header{
    color: white;
    font-size: 20px;
  }

  .team-spread{
    display: flex;
    flex-direction: row;

    .member{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;

      .member-name{
        color: white;
      }

      .footer-links{
        display: flex;
        flex-direction: row;
        min-width: 100px;
        justify-content: space-between;
        
        li{
          height: 33px;
          border-radius: 3px;
          margin-left: 10px;
          margin-right: 10px;
          background: white;
  
          img{
            margin-top: 0.5px;
          }
        }
  
        li:hover{
          background: greenyellow;
        }
      }
    }
  } 
}

