.flower_picture_box{
    height: 400px;
    // margin-left: 40px;
    // background-position: 150px 300px;
    background-repeat: no-repeat;
    // background-position-y: 10px;
    // border: 1px solid red;
    position: absolute;
    bottom: 470px;
    width: 200px;
    display: flex;
    justify-content: center;
}


.flower_picture{
    background-image: url('./images/sprite-daisy.png');
    background-size: 1125px;
    // border: 1px solid blue;
    height: 100%;
    background-position-y: 40px;
    // background-position: 150px 300px;
    background-repeat: no-repeat;
    // background-position-y: 10px;
    // border: 1px solid red;

}

.goal_show_component{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 75px;
    margin-top: 50px;
}

#growth0{
    background-position-x: 10px;
    width: 147px;
    // border: 1px solid blue;
}

#growth1{
    background-position-x: -150px;
    width: 147px;
}

#growth2{
    background-position-x: -320px;
    width: 147px;
}

#growth3{
    background-position-x: -477px;
    width: 160px;
}

#growth4{
    background-position-x: -662px;
    // padding-right: 45px;
    width: 178px;
}

#growth5{
    background-position-x: -833px;
    width: 147px;
}

#growth6{
    background-position-x: -993px;
    width: 147px;
}

.goal_show_info{
    font-family:  "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 10px;
}

.add_journal_button{
  width: 225px;
  height: 24px;
  padding: 10px 16px;
  margin-top: 15px;
  text-align: center;
  background: #fffd54;
  color: #acc95c;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #acc95c;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #fffd54, 2px 1px 6px 4px #fffd54;
  text-shadow: -1px -1px #ffde1c;
  font-weight: normal;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.add_journal_button:hover {
  text-decoration: underline; 
}

.journal_form_hidden{
    display: none;
}

.journal_form_show, .journal_goal_show{
    position: absolute;
    right: 636px;
    top: 200px;
    border: 2px solid green;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family:  "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: max-content;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 28px;
    background: white;
    // justify-content: flex-start;
}

.journal_radio{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.journal_radio_buttons{
    display: flex;
    flex-direction: row;
}

.journal_radio_buttons > *{
    margin-left: 10px; 
    margin-right: 10px;
}

.journal_text_area{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 30px;
    margin-left: 10px;
}

.journal_text_area_input{
    height: 150px;
    width: 100%;
    margin-right: 20px;
}

#journal_input{
    border: 1px solid rgb(172,201,92); 
    margin-left: 10px
}

.journal_goal_show{
    right: 710px;
}

.journal_goal_hidden{
    display: none
}

.journal_button_div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.goal_description{
    overflow-wrap: break-word;
}