#main-window{
  min-height: 100vh;
}

.add_goal_hidden{
    display: none;
}

.goal_box_container{
    display: flex;
    flex-direction: row;
    width: max-content;
}

.flower_picture{
    height: 650px;
    width: 280px;
    background-image: url('./images/sprite-daisy.png');
    // background-position: 150px 300px;
    background-repeat: no-repeat;
}

.goal .middle {
  .leftBorder {
    left:0;
  }
  .rightBorder {
    right:0;
  }
  .left{
      margin-top: 2%;
    .goals-container.form-container{
      height: unset;
    }
    .background-container{
      flex-direction:row;
      max-width: unset;
      min-width: 360px !important;
      .present-goals-container {
        padding-right: 20px;
        h4 {
          padding: 10px 0;
        }
        .goal-show{
          color:#b95cc9;
          &:hover{
            color:#9336a3;
          }
        }
      }
      .goal_box_container{
        box-sizing: border-box;
        padding: 5px 0;
        a {
          color: #7da336;
          &:hover {
            color:#5ca3c9;
            text-decoration:none;
          }
        }
        button {
          padding-left: 8px;
          font-size: .75rem;
          color: lightgrey;
          &:hover {
            color:#c9825c;
          }
        }
      }
    }
  }
}

