.login-signup, .header-greeting {
    display: flex;
    position: absolute;
    margin-top: -5px;
    background: transparent;
    right: 20px;
    align-items: center;
    @media screen and (min-width: 300px) and (max-width:900px){
      right: 15%;
    }
    .button {
      width: 80px;
      padding: 10px 6px;
      margin: 14px 10px;
    }
}

.goal .hero-inner-container {
    flex-direction: column;
    align-items: center;
  }

.main-container {
  display: grid;
  grid-template-columns: [first nav-start] 150px [main-start] 1fr [last];
  grid-template-rows: [main-start] 1fr [footer-start] 50px [last];
  @media screen and (min-width: 300px) and (max-width:900px){
    grid-template-columns: none !important;
    display:flex;
    width: 100%;
  }
  .home {
    grid-column: first / span 2;
    grid-row: main-start / 2;
    @media screen and (min-width: 300px) and (max-width:900px){
      width: 100%;
    }
    .hero {
      min-height: 340px;
      display: grid;
      grid-template-columns: [first] 200px [center] 1fr [right] 200px;
      grid-template-rows: [nav] 75px [hero-inner] 1fr [last];
      @media all and (min-width: 300px) and (max-width:900px){
        grid-template-columns: none;
        display:flex;
      }
      .nav {
        grid-column: 1 / span 3;
        grid-row: 1;
      }
      .hero-inner-container {
        grid-column: 2 / span 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        @media all and (min-width: 300px) and (max-width:900px){
        grid-template-columns: none;
          display: flex;
          width: 100%;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          background-position: 0% 107%;
        }
        p {
          text-align: center;
        }
      }
    }
    .middle img {
        @media all and (min-width: 300px) and (max-width:900px){
          top: -13%;
        }
    }
  }
}
* {
  max-width:100%;
}