@import '_reset.scss';
@import '_colors.scss';
@import '_font.scss';
@import '_layout.scss';
@import '_hero.scss'; 
@import '_nav.scss'; 
@import '_footer.scss'; 
@import 'home.scss';
@import 'signup.scss';
@import 'login.scss';
@import 'journal.scss';
@import '_goal_index.scss';
@import '_goal_show.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
