.middle {
    display: flex;
    box-sizing: border-box;
    padding: 30px 50px;
    justify-content: space-evenly;
    bottom: 0;
    z-index: 1000;
    opacity: 1;
    position: relative;
    background-image: linear-gradient(180deg, #6c5d47, #fff);
    img {
      width: 115%;
      position: absolute;
      @media all and (min-width: 500px) and (max-width: 992px) {
        margin-top: -15%;
      }
      @media all and (min-width: 993px) {
        margin-top: -13%;
      }
    }
    .left{
      flex: 40%;
    }
    .right{
      flex: 20%;
    }
}