body {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body .bodoni {
    font-family: 'Bodoni Ornaments'; }

@font-face {
  font-family: 'beauty-moments';
  src: local("beauty-moments"), url(./fonts/beauty-mountains.ttf) format("ttf"); }

.main-container .nav {
  display: flex;
  justify-content: space-between; }

.main-container {
  display: grid;
  grid-template-columns: [first nav-start] 150px [main-start] 1fr [last];
  grid-template-rows: [first header-start] 50px [main-start] 1fr [footer-start] 50px [last]; }
  .main-container .nav {
    grid-column: 1 / span 2;
    grid-row: header-start / 1; }
  .main-container .home {
    grid-column: first / span 2;
    grid-row: main-start / 2; }
    .main-container .home .hero {
      min-height: 340px; }

.hero {
  background-image: url("./images/cloudy-sky-w-garden-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 300px;
  background-position-x: center;
  background-position-y: bottom; }
  .hero .hero-inner-container {
    display: flex;
    justify-content: center;
    height: 335px;
    background-image: url("./images/flower-grown.gif");
    background-repeat: no-repeat;
    background-size: 100px;
    bottom: 0;
    z-index: 1000;
    opacity: 1;
    background-position: 160px 161px;
    font-size: 1.5rem;
    color: #142d20; }

.main-container .nav {
  display: flex;
  justify-content: space-between; }

.middle {
  display: flex;
  box-sizing: border-box;
  padding: 30px 50px;
  justify-content: space-evenly;
  bottom: 0;
  z-index: 1000;
  opacity: 1;
  position: relative;
  background-image: linear-gradient(180deg, #6c5d47, #fff); }
  .middle img {
    width: 115%;
    position: absolute;
    top: -79px; }
  .middle .left {
    flex: 40%; }
  .middle .right {
    flex: 20%; }

.App {
  text-align: center; }

.App-logo {
  height: 40vmin;
  pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
