html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: Verdana; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

button:hover {
  cursor: pointer; }

body {
  margin: 0 auto; }

.shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222; }

@-moz-keyframes shimmer {
  0% {
    background-position: top left; }
  100% {
    background-position: top right; } }

@-webkit-keyframes shimmer {
  0% {
    background-position: top left; }
  100% {
    background-position: top right; } }

@-o-keyframes shimmer {
  0% {
    background-position: top left; }
  100% {
    background-position: top right; } }

@keyframes shimmer {
  0% {
    background-position: top left; }
  100% {
    background-position: top right; } }

body {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body .bodoni {
    font-family: 'Bodoni Ornaments'; }

@font-face {
  font-family: 'beauty-moments';
  src: local("beauty-moments"), url(./fonts/beauty-mountains.ttf) format("ttf"); }

.login-signup, .header-greeting {
  display: flex;
  position: absolute;
  margin-top: -5px;
  background: transparent;
  right: 20px;
  align-items: center; }
  .login-signup .button, .header-greeting .button {
    width: 80px;
    padding: 10px 6px;
    margin: 14px 10px; }

.goal .hero-inner-container {
  flex-direction: column;
  align-items: center; }

.main-container {
  display: grid;
  grid-template-columns: [first nav-start] 150px [main-start] 1fr [last];
  grid-template-rows: [main-start] 1fr [footer-start] 50px [last]; }
  .main-container .home {
    grid-column: first / span 2;
    grid-row: main-start / 2; }
    .main-container .home .hero {
      min-height: 340px;
      display: grid;
      grid-template-columns: [first] 200px [center] 1fr [right] 200px;
      grid-template-rows: [nav] 75px [hero-inner] 1fr [last]; }
      .main-container .home .hero .nav {
        grid-column: 1 / span 3;
        grid-row: 1; }
      .main-container .home .hero .hero-inner-container {
        grid-column: 2 / span 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end; }
        .main-container .home .hero .hero-inner-container p {
          text-align: center; }

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px; }

.form {
  border: 2px dashed #acc95c;
  min-height: 440px;
  padding: 20px;
  border-radius: 15px; }
  .form h2 {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px; }

.add_goal_show .form {
  min-height: 550px; }
  .add_goal_show .form h2 {
    margin-top: 10px;
    margin-bottom: 10px; }

.form input {
  border: 1px solid #acc95c;
  border-radius: 3px;
  width: 250px;
  height: 32px;
  padding-left: 8px;
  margin-top: 5px; }

.form textarea {
  border: 1px solid #acc95c;
  border-radius: 3px;
  padding-left: 8px;
  margin-top: 5px;
  width: 250px;
  height: 50px; }

.form label {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 5px; }

.button {
  padding: 10px 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: #fffd54;
  color: #acc95c;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #acc95c;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #fffd54, 2px 1px 6px 4px #fffd54;
  text-shadow: -1px -1px #ffde1c;
  font-weight: normal;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.form p {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.button:hover {
  text-decoration: none;
  color: #228c22; }

.errors {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #ae4949;
  margin-bottom: 10px; }

.hero {
  background-image: url("./images/garden-licensed-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  background-position-x: center;
  background-position-y: bottom; }
  .hero .hero-inner-container {
    display: flex;
    justify-content: center;
    height: 335px;
    background-image: url("./images/flower-grown.gif");
    background-repeat: no-repeat;
    background-size: 100px;
    bottom: 0;
    z-index: 1000;
    opacity: 1;
    background-position: 160px 161px;
    font-size: 1.5rem;
    color: #142d20;
    text-align: center; }
    .hero .hero-inner-container h1 {
      margin-top: -5px; }

.main-container, .header-greeting {
  top: 20px; }
  .main-container .nav, .header-greeting .nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main-container .button, .main-container .logout-btn, .header-greeting .button, .header-greeting .logout-btn {
    padding: 10px 16px;
    margin: 10px;
    background: #fffd54;
    color: #acc95c;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #acc95c;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #fffd54, 2px 1px 6px 4px #fffd54;
    text-shadow: -1px -1px #ffde1c;
    font-weight: normal; }
    .main-container .button:hover, .main-container .logout-btn:hover, .header-greeting .button:hover, .header-greeting .logout-btn:hover {
      color: #228c22; }

.login-signup .button:hover {
  color: #228c22; }

.middle {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-evenly;
  padding: 30px 50px;
  bottom: 0;
  z-index: 1000;
  opacity: 1;
  position: relative;
  background-image: linear-gradient(180deg, #6c5d47, #fff);
  margin-bottom: -65px; }
  .middle img {
    width: 95%;
    position: absolute;
    flex: 1; }
    @media all and (min-width: 500px) and (max-width: 992px) {
      .middle img {
        margin-top: -15%; } }
    @media all and (min-width: 993px) {
      .middle img {
        margin-top: -16%; } }
  .middle .left, .middle .right {
    margin-top: 10%; }
    .middle .left .goal-list li, .middle .left .background-container li, .middle .right .goal-list li, .middle .right .background-container li {
      list-style: none; }
      .middle .left .goal-list li:before, .middle .left .background-container li:before, .middle .right .goal-list li:before, .middle .right .background-container li:before {
        content: '';
        display: inline-block;
        height: 25px;
        width: 48px;
        background-image: url(./images/watering-can.png);
        background-size: 35px;
        background-position: 4px;
        background-repeat: no-repeat; }
      .middle .left .goal-list li button, .middle .left .background-container li button, .middle .right .goal-list li button, .middle .right .background-container li button {
        border: none;
        background: none;
        font-family: cursive;
        color: green; }
        .middle .left .goal-list li button:hover, .middle .left .background-container li button:hover, .middle .right .goal-list li button:hover, .middle .right .background-container li button:hover {
          color: #1089ea; }
  .middle .right .goals-container,
  .middle .left .background-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 52px;
    padding: 15px;
    max-width: 360px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 13px;
    box-sizing: border-box;
    margin: 0 auto; }
    .middle .right .goals-container h3,
    .middle .left .background-container h3 {
      max-width: 60%;
      margin: 0 auto;
      padding-bottom: 10px; }
    .middle .right .goals-container ul,
    .middle .left .background-container ul {
      list-style-type: none; }
  .middle .left .background-container ul {
    padding-left: 0; }
    .middle .left .background-container ul li:before {
      background-image: none;
      width: 10%; }

.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px; }

.signup-form {
  border: 2px dashed #acc95c;
  height: 480px;
  padding: 20px;
  border-radius: 15px; }
  .signup-form h2 {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px; }

.signup-form input {
  border: 1px solid #acc95c;
  border-radius: 3px;
  width: 250px;
  height: 32px;
  padding-left: 8px;
  margin-top: 5px; }

.signup-form label {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 5px; }

.signup-button {
  width: 225px;
  height: 24px;
  padding: 10px 16px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  background: #fffd54;
  color: #acc95c;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #acc95c;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #fffd54, 2px 1px 6px 4px #fffd54;
  text-shadow: -1px -1px #ffde1c;
  font-weight: normal;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.signup-form p {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.signup-button:hover {
  text-decoration: underline; }

.add_goal_hidden {
  display: none; }

.goal_box_container {
  display: flex;
  flex-direction: row;
  width: max-content; }

.flower_picture {
  height: 650px;
  width: 280px;
  background-image: url("./images/sprite-daisy.png");
  background-repeat: no-repeat; }

.goal .middle .left {
  margin-top: 2%; }
  .goal .middle .left .goals-container.form-container {
    height: unset; }
  .goal .middle .left .background-container {
    flex-direction: row;
    max-width: unset;
    min-width: 360px !important; }
    .goal .middle .left .background-container .present-goals-container {
      padding-right: 20px; }
      .goal .middle .left .background-container .present-goals-container h4 {
        padding: 10px 0; }
      .goal .middle .left .background-container .present-goals-container .hide {
        display: none; }
    .goal .middle .left .background-container .goal_box_container {
      box-sizing: border-box;
      padding: 5px 0; }
      .goal .middle .left .background-container .goal_box_container a {
        color: #acc95c; }
        .goal .middle .left .background-container .goal_box_container a:hover {
          color: #228c22;
          text-decoration: none; }
      .goal .middle .left .background-container .goal_box_container button {
        padding-left: 8px;
        font-size: .75rem;
        color: lightgrey; }
        .goal .middle .left .background-container .goal_box_container button:hover {
          color: red; }

.App {
  text-align: center; }

.App-logo {
  height: 40vmin;
  pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
