.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px; }

.signup-form {
  border: 2px dashed #acc95c;
  height: 480px;
  padding: 20px;
  border-radius: 15px; }
  .signup-form h2 {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px; }

.signup-form input {
  border: 1px solid #acc95c;
  border-radius: 3px;
  width: 250px;
  height: 32px;
  padding-left: 8px;
  margin-top: 5px; }

.signup-form label {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 5px; }

.signup-button, .login-button {
  width: 225px;
  height: 24px;
  padding: 10px 16px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  background: #fffd54;
  color: #acc95c;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #acc95c;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #fffd54, 2px 1px 6px 4px #fffd54;
  text-shadow: -1px -1px #ffde1c;
  font-weight: normal;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.signup-form p {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.signup-button:hover, .login-button:hover {
  text-decoration: underline;
  color: #acc95c; }
